/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#search-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.gallery-item {
  display: block;
  text-decoration: none;
}

.gallery-item img {
  width: 100%;
  border-radius: 5px;
}

.info {
  margin-top: 5px;
  font-size: 14px;
}
